/* ====================== */
/* BASE STYLES & RESET */
/* ====================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 37.1875rem;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 16px;
}

/* ====================== */
/* GRID LAYOUT */
/* ====================== */
.grid-container {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "photo intro languages"
    "education education interests"
    "education education contact"
    "tools experience experience";
}

/* Общие стили для всех grid-элементов */
.grid-container > section {
  background-color: #f0f0f0;
  padding: 12px;
  border-radius: 8px;
}

/* ====================== */
/* SPECIFIC GRID AREAS */
/* ====================== */

/* Photo section */
.photo {
  grid-area: photo;
  background-image: url("/img/0918e922d529c34d6871965d43a810618d656b8e.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  padding: 0;
}

/* Intro section */
.intro {
  grid-area: intro;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.intro__greeting {
  font-size: 0.625rem;
  font-weight: 500;
}

.intro__name {
  font-size: 0.875rem;
  font-weight: 600;
}

.intro__specialization {
  color: #5c5c5c;
  font-size: 0.75rem;
  font-weight: 500;
}

/* Languages section */
.languages {
  grid-area: languages;
}

.languages__title {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 8px;
}

.languages__list {
  display: grid;
  grid-template-columns: 1fr 3fr;
  row-gap: 10px;
}

.languages__item {
  display: contents;
}

.languages__name {
  font-size: 0.625rem;
  align-self: center;
  font-weight: 500;
}

.languages__bar {
  height: 11px;
  border-radius: 3px;
  background: #ccc;
  width: 100%;
}

.languages__bar.languages__bar--full {
  background: #00cc66;
  width: 100%;
}
.languages__bar.languages__bar--medium {
  background: #00cc66;
  width: 80%;
}
.languages__bar.languages__bar--low {
  background: #00cc66;
  width: 65%;
}

/* Education section */
.education {
  grid-area: education;
}

.education__title {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 8px;
}

.education__items {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 12px;
}

.education__item {
  padding: 8px;
  background-color: #fff;
  border-radius: 10px;
}
.education__item.education__item--active {
  background-color: #28d979;
  color: #fff;
}

.education__item-header {
  display: flex;
  justify-content: space-between;
}

.education__item-year {
  font-size: 0.625rem;
  font-weight: 500;
  margin-bottom: 8px;
}

.education__item-speciality {
  font-size: 0.625rem;
  font-weight: 500;
}

.education__item-tags {
  font-size: 0.5rem;
  font-weight: 400;
  color: #149063;
  margin-bottom: 8px;
}

.education__item-tags.education__item-tags--active {
  color: #fff;
}

.education__item-source {
  font-size: 0.5rem;
  font-weight: 400;
}

/* Interests section */
.interests {
  grid-area: interests;
}

.interests__title {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 8px;
}

.interests__tag {
  display: inline-block;
  background: #fff;
  padding: 4px 10px;
  margin: 4px;
  border-radius: 40px;
  font-size: 0.625rem;
  font-weight: 400;
}

/* Contact section */
.contact {
  grid-area: contact;
  background: #000 !important;
  color: white;
  border-radius: 8px;
}

.contact__title {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 8px;
}

.contact__info {
  font-size: 0.625rem;
  font-weight: 400;
  display: flex;
  gap: 8px;
}

/* Tools section */
.tools {
  grid-area: tools;
}

.tools__title {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.tools__groups {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tools__group-title-container {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  background: #000;
  border-radius: 59px;
  padding: 2px 6px;
  display: inline-block;
  z-index: 2;
  min-width: max-content;
}

.tools__group {
  position: relative;
  background: #fff;
  border-radius: 16px;
}

.tools__group-title {
  font-size: 0.3125rem;
  color: #fff;
}

.tools__group-elements {
  padding: 16px 16px;
  display: grid;
  grid-template-columns: 20px 20px;
  grid-template-rows: 20px 20px;
  justify-items: center;
  align-items: center;
  grid-gap: 16px;
  justify-content: center;
  align-content: center;
}

/* Experience section */
.experience {
  grid-area: experience;
}

.experience__title {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 8px;
}

.experience__items {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 10px;
}

.experience__item {
  padding: 8px;
  background-color: #fff;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 16px 1fr;
  grid-row-gap: 8px;
}

.experience__item.experience__item--active {
  background-color: #28d979;
  color: #fff;
}

.experience__year {
  font-size: 0.5rem;
  font-weight: 500;
}

.experience__recent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.experience__recent p {
  width: max-content;
  padding: 2px 6px;
  font-size: 8px;
  font-weight: 500;
  background: #7e731266;
  color: #ddf163;
  border-radius: 59px;
}

.experience__speciality-name {
  font-size: 0.625rem;
  font-weight: 500;
}

.experience__speciality-time {
  font-size: 0.5rem;
  font-weight: 400;
}

.experience__list {
  font-size: 0.5rem;
  font-weight: 400;
}

.editable[contenteditable="true"]:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

/* Mobile version */
@media (max-width: 600px) {
  .container {
    width: 25rem;
  }
  .grid-container {
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 0.4fr);
    grid-template-areas:
      "photo intro intro"
      "languages languages languages"
      "education education education"
      "interests interests interests"
      "contact contact contact"
      "tools experience experience"
      "tools experience experience";
  }
}

/* Input animation */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(1px);
  }
  50% {
    transform: translateX(-1px);
  }
  75% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}

.input-anim {
  animation: shake 0.15s linear;
}

/* Ripple effect */
.ripple-btn {
  padding: 10px;
  border: none;
  background: #28d979;
  color: #fff;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.ripple {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-animation 0.8s linear;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
